
<div class="header__start">
  <div class="container">

  <a href="{{ site.baseurl }}/">
    {% if site.headerHideTitle != true %}
      <h1>{{ site.title }}</h1>
    {% endif %}
  </a>

  </div>
</div>
<nav class="header__nav" id="nav">
  <h2 class="visually-hidden">Primaire navigatie</h2>
  <div class="container">
      <ul class="header__primary-nav list list--unstyled">
          <li class="hidden-mobile"><a href="/"><span class="visually-hidden">Andere sites binnen </span>Home</a></li>
      </ul>
  </div>
</nav>
